# Ignore Python cache
__pycache__/
*.pyc

# Ignore Virtual environments
env/
venv/

# Ignore Environment variables
.env

# Ignore VSCode settings
.vscode/

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore Excel or temp data
*.xlsx
